#Configured by Ansible at {{ansible_date_time.time}} on {{ansible_date_time.date}}

# vxrd - Registration daemon for VXLAN deployments
#
# This is an template for the daemon configuration file for vxrd. This
# file, when present in /etc/default/vxrd, is read when the vxrd service
# is started or stopped.
#
# IMPORTANT: In its default state after installation, vxrd will not run.

# Master control of the vxrd deamon. Set to 'yes' for vxrd to start.
# Default is 'no'
#
START=yes
